.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--navbar);
  padding: 1rem 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-logo-img {
  height: 60px;
}

.navbar-menu {
  display: flex;
  align-items: center;
}

.navbar-link {
  color: var(--text-color);
  padding: 0.5rem 1rem;
  margin: 0 10px;
  text-decoration: none;
  transition: color 0.3s;
}

.navbar-link:hover,
.navbar-link:focus {
  color: var(--neutral-dark); /* Highlight color for interaction */
}

.navbar-toggler {
  display: none;
  cursor: pointer;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
  background-image: url('data:image/svg+xml;utf8,<svg fill="%23fff" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><path d="M4 7h22v3H4zM4 14h22v3H4zM4 21h22v3H4z"/></svg>');
}

/* Active state styling for the dropdown menu */
.navbar-menu.active {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #ff8c00;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .navbar-toggler {
    display: block;
  }

  .navbar-menu {
    display: none;
  }

  .navbar-menu.active {
    display: flex;
  }

  .navbar-link {
    display: block;
    text-align: center;
    width: 100%;
  }
}
