/* Testimonial.css */
.testimonial {
    background-color: #fff; 
    border-left: 4px solid #995D81;
    padding: 1.5rem; /* More padding for a spacious look */
    border-radius: 10px;
    margin: 2rem auto; /* Auto margins for horizontal centering and more space between testimonials */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Slightly deeper shadow for depth */
    max-width: 800px; /* Max width for better readability on wide screens */
    text-align: left; /* Align text to the left for better readability */
}

.testimonial-name {
    font-size: 1.4rem; /* Slightly larger font size for names */
    font-weight: bold;
    color: var(--neutral-dark); /* Use primary color for names */
    margin-bottom: 0.5rem;
}

.testimonial-date {
    font-size: 0.8rem;
    color: #888; /* Lighter color for less emphasis */
    margin-bottom: 1rem; /* More space between date and content */
}

.testimonial-content {
    font-size: 1rem;
    line-height: 1.6; /* Increased line height for better readability */
    color: var(--neutral-dark); /* Darker text for main content */
}

/* Responsive styles */
@media (max-width: 768px) {
    .testimonial {
        margin: 1rem;
    }

    .testimonial-name,
    .testimonial-content {
        font-size: 1rem;
    }

    .testimonial-date {
        font-size: 0.7rem;
    }
}