.admin-testimonial-container {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    color:var(--neutral-dark)
}

.admin-testimonial-container h2 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    color: white;
    background: var(--primary-gradient);
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
}

.admin-testimonial-form-container {

    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 1rem 4rem
}

.admin-testimonial-form-container form {
    width: 100%;
}

.admin-testimonial-form-container label {
    font-size: 1rem;
}

.admin-testimonial-form-container textarea,
.admin-testimonial-form-container input[type="text"] {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px auto;
}

.submit-button {
    display: block;
    background: var(--button-gradient);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1rem;
}

.submit-button:hover {
    background: var(--button-hover-gradient);
}

/* Responsive Styling */
@media screen and (min-width: 1200px) {
    .admin-testimonial-form-container {
        margin: 1rem 20rem;
    }
}

@media screen and (max-width: 768px) {
    .admin-testimonial-form-container {
      margin: 1rem;
    }
  }