.messages-container {
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 0.5rem;
}

.message-table {
    margin: auto 4rem;
}

.messages-container h2 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    color: white;
    background: var(--primary-gradient);
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
}

.mark-as-read,
.readed-status {
    display: inline-block;
    padding: 0.4rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    margin: 0.2rem;
    transition: background-color 0.3s, color 0.3s;
}

.mark-as-read {
    background: var(--button-gradient);
    color: #fff;
}

.mark-as-read:hover {
    background: var(--button-hover-gradient);
    transform: scale(1.05);
}

.readed-status {
    background-color: #28a745;
    color: #fff;
}

/* Table Styling */
table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f8f9fa;
    font-weight: bold;
    border-bottom: 2px solid #ccc;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}


/* Responsive Styling */
@media screen and (min-width: 1200px) {
    .message-table {
        margin: 1rem 20rem;
    }
}