.container {
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top:0.5rem;

}

.container h2 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    color: white;
    background: var(--primary-gradient);
    padding: 1rem;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
}

.categoryDropdown {
    margin-bottom: 1rem;
    background-color: rgba(107, 107, 107, 0.6);
    /* Add background color with transparency */
    padding: 0.5rem;
    border-radius: 4px;
}

.categoryDropdown label {
    font-size: 1.2rem;
    margin-right: 0.5rem;
}

.categoryDropdown select {
    font-size: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.image {
    width: 100px;
    height: 100px;
}

.saveBtn {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background: var(--button-gradient);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: auto 1px;
}

.saveBtn:hover {
    background: var(--button-hover-gradient);
}

.removeBtn {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background: var(--button-remove);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 1px;
}

.removeBtn:hover {
    background: var(--button-hover-remove);
}

.table-responsive {
    margin: auto 4rem;
}

/* Responsive Styling for Table */
@media screen and (min-width: 1200px) {
    .table-responsive {
        margin: 1rem 20rem;
    }
}