.new-dish-container {
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 0.5rem;
    color:var(--neutral-dark)
}

.new-dish-container h2 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    color: white;
    background: var(--primary-gradient);
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
}

.new-dish-form {
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 1rem 4rem
}

.new-dish-form input,
.new-dish-form textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px 0;
    background-color: #fff;
    transition: border-color 0.3s ease-in-out;
}

/* Responsive styles */
@media screen and (min-width: 1200px) {
    .new-dish-form {
        margin: 1rem 20rem;
    }
}

@media screen and (max-width: 768px) {
    .new-dish-form {
        margin: 1rem;
    }
}

.submit-btn {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background: var(--button-gradient);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: auto 1px;
}

.submit-btn:hover {
    background: var(--button-hover-gradient);
}